{% extends "/var/www/html/teacher/base.html" %}
	{% block title %}{{ title }} | NeoScript {%endblock%}
	{% block head %}
		{{ super() }}
		<meta http-equiv="Cache-Control" Content="no-cache, no-store, must-revalidate ,max-age=0,s-maxage=0, proxy revalidate">
		<meta http-equiv ="Pragma" Content="no-cache">
		<meta http-equiv ="Expires" Content="0">	
	{% endblock %}
	{% block content %}
		<!-- wrapper -->
		<div id="wrapper">
			<!--navbar-->
			<p id="header"></p>
			<!--navbar end-->
			<!--page wrapper-->
			<div id="page-wrapper">
				<div class="row">
                	<div class="col-lg-12">
                	    <h1 class="page-header">Enroll Request</h1>
                	</div>
                	<!-- /.col-lg-12 -->
            	</div>
            	
            	<div class="responsive-table">
            		<table class="table">
            			<thead>
            				<tr>
            					<th>Name</th><th>Reg No</th><th>Institute</th><th>Email</th><th>Contact</th><th></th>
            				</tr>
            			</thead>
            			<tbody>
            				<!--
            					<tr>
            		            				-->
					{{l}}
            			</tbody>
            		</table>
            	</div>{{data}}
			</div>
			<!--end page-wrapper -->
			
		</div>
		{{ super() }}
    	<script>
    		function approveEnroll(id)
    		{	
			 document.getElementById(id).setAttribute("disabled", "disabled");

    			$.ajax({
					type: 'POST',
					url: "ajax/approve_enroll.py?cid={{cid}}&id="+id+"",
					dataType: "text",
					success: function(response)
							{
								document.getElementById(id).innerHTML = response;
								document.getElementById(id).setAttribute("disabled", "disabled");
								//$("#"+id).attr('disabled','disabled');
								//alert(response)
								//$(".feedback_panel").hide(); 	
								
							},
							error: function(response){
								$("#"+id).html("Approve");
								$("#"+id).removeAttr('disabled');
						}							
				});
    		}
    	</script>
	
{% endblock %}	
