{% extends "/var/www/html/teacher/base.html" %}
	{% block title %}{{ title }} | NeoScript {%endblock%}
	{% block head %}
		{{ super() }}
		<meta http-equiv="Cache-Control" Content="no-cache, no-store, must-revalidate ,max-age=0,s-maxage=0, proxy revalidate">
		<meta http-equiv ="Pragma" Content="no-cache">
		<meta http-equiv ="Expires" Content="0">	
		<style type="text/css" media="screen">
			#code_editor{height:600px;}
		</style>
	{% endblock %}
	{% block content %}
		<!-- wrapper -->
		<div id="wrapper">
			<!--navbar-->
			<p id="header"></p>
			<!--navbar end-->
			<!--page wrapper-->
			<div id="page-wrapper">
				<!--<div class="row">
            	    <div class="col-lg-12">
            	        <h1 class="page-header">Assignment</h1>
            	    </div>
            	    <!-- .col-lg-12 >
            	</div>-->
            	<div class="row">
					<div class="col-md-3">
						<select id="exam_select" class="form-control input-sm">
							<option value="-1">Exams</option>
								{% for row in examlist %}
							<option value="{{ row[0] }}">{{ row[1] }}</option>
								{% endfor %}
						</select>
					</div>
					<div class="col-md-4">
						<select id="problem_select" class="form-control input-sm">
							<option value="select a problem">Select a problem</option>					
						</select>
					</div>
					<div class="col-md-2">
						<p id="download"></p>
					</div>
					<div class="col-md-3">
						<p id="mail"></p>
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-md-9">
						<pre id="code_editor"></pre>
						<hr/>
						
					</div>
					<div class="col-md-3">
						<div class="list-group" id="submission_list">   
                	</div>
				</div>	
					
			</div>	
        	<!-- end page-wrapper-->
        	
        </div>
        <!--wrapper-->
        {{ super() }}
		<script src="http://www.neoscript.in/ace-builds-master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
		<script>
			var email = ''
			var editor = ace.edit("code_editor");
				$("#exam_select").change(function(e){
					//alert($("#assignment_select").val());
					$.ajax({
					type: 'POST',
					url: "ajax/problem_list.py?aid=-1&eid="+$("#exam_select").val(),
					dataType: "text",
					success: function(response){
						$("#problem_select").empty();
						$("#problem_select").append("<option value='-1'>Select a problem</option>");
						$("#problem_select").append(response);
						editor.setTheme("ace/theme/chrome");
						editor.getSession().setMode("ace/mode/java");
						}
					}).done(function(data){
						console.log(data);
						
				});
			});
			$("#problem_select").change(function(e){
					//alert($("#assignment_select").val());
					$.ajax({
					type: 'POST',
					url: "ajax/submission_list.py?aid=-1&pid="+$("#problem_select").val()+"&eid="+$("#exam_select").val(),
					dataType: "text",
					success: function(response){
						$("#submission_list").empty();
						$("#submission_list").append(response);
						}
					}).done(function(data){
						console.log(data);
						
				});
			});
			function load_code(eid, fname, name)
			{
				email = eid
				//alert(eid +",  "+ fname);
				$.ajax({
							url: 'ajax/code_editor_teacher.py?aid=-1&pid='+$("#problem_select").val()+'&eid='+$("#exam_select").val()+'&file='+fname+'&email_id='+eid,
							type:'GET',
							success:function(response){
								$("#code_editor").show();
								editor.getSession().setValue(response);
								 $("#download").html('<a href="http://www.neoscript.in/submission/'+eid+'/e'+$("#exam_select").val()+'/'+fname+'">Download File</a>');
								 $("#mail").html('<strong style="color:#337ab7;">'+name+'</strong>');
							},
							error:function(response){
								
							}
						});
			}
			
		</script>
	
	
{% endblock %}
