{% extends "/var/www/html/teacher/base.html" %}
	{% block title %}{{ title }} | NeoScript {%endblock%}
	{% block head %}
		{{ super() }}
		<meta http-equiv="Cache-Control" Content="no-cache, no-store, must-revalidate ,max-age=0,s-maxage=0, proxy revalidate">
		<meta http-equiv ="Pragma" Content="no-cache">
		<meta http-equiv ="Expires" Content="0">	
	{% endblock %}
	{% block content %}
		<!-- wrapper -->
		<div id="wrapper">
		<!--navbar-->
		<p id="header"></p>
		<!--navbar end-->
		<!--page wrapper-->
		 <div id="page-wrapper">
			<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Exam Section</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
			<!-- table -->
			<div class="row">
				<div class="col-sm-3">
				</div>
				<div class="col-sm-6">
					<a href="edit_exam.py?cid={{cid}}&option=new" role="button" class="btn btn-info btn-block col-md-6">Create New Exam</a>
				</div>	
			</div>
			<hr/>
			<table class="table table-bordered table-striped">
  				<tbody>
  					<tr>
  						<th>#</th><th>Title</th><th>Problems</th><th>Start Date</th><th>End Date</th><th>Type</th><th>Opertation</th>
  					</tr>	
  					
  					{% for row in alist %}
  					<tr class="{{row[9]}}">
  						<td>{{row[7]}}</td><td>{{row[1]}}</td><td>{{row[6]}}</td><td>{{row[2]}}</td><td>{{row[3]}}</td><td>{{row[5]}}</td><td><a href="edit_exam.py?cid={{ row[4] }}&option=edit&eid={{row[0]}}" role="button" class="btn btn-info btn-block ">Details</a></td>
  					</tr>
  					{% endfor %}
  				</tbody>
			</table>
			<!-- end table -->
		</div>
		<footer>
			{{ footer }}
		</footer>
		<!-- end page wrapper-->
		</div>
		<!--end wrapper-->
		 <!-- Bootstrap Core JavaScript -->
    {{ super() }}
{% endblock %}
