{% extends "/var/www/html/teacher/base.html" %}
	{% block title %}{{ title }} | NeoScript {%endblock%}
	{% block head %}
		{{ super() }}
		<meta http-equiv="Cache-Control" Content="no-cache, no-store, must-revalidate ,max-age=0,s-maxage=0, proxy revalidate">
		<meta http-equiv ="Pragma" Content="no-cache">
		<meta http-equiv ="Expires" Content="0">	
		<script type="text/javascript" src="http://www.neoscript.in/tinymce/tinymce.min.js"></script>
		<script type="text/javascript">
		tinymce.init({
    			selector: "textarea.editme"
 			});
	</script>
	{% endblock %}
	{% block content %}
		<div id="wrapper">

        <!-- Navigation -->
       
        <p id="header"></p>
        <div id="page-wrapper">
		
		<div class="panel panel-default">
			<div class="panel-body">		
			<form method="POST" action="store.py" >
				<div class="form-group">			
					Problem Statement <!--<a href="javascript:void(0);" NAME="Document Editor" title="Edit content of documents in new window" onClick=window.open("problem_editor.py?edit=ps1","Ratting","width=850,height=570,0,status=0,");><button type="button" class="btn btn-primary">Problem Statement</button></a>-->
					<textarea class="editme" name="statement"></textarea>	
				</div>
				<div class="form-group">			
					Input Output <!--<a href="javascript:void(0);" NAME="Document Editor" title="Edit content of documents in new window" onClick=window.open("problem_editor.py?edit=ps2","Ratting","width=850,height=570,0,status=0,"); ><button type="button" class="btn btn-primary">Input Output Specification</button></a>-->
					<textarea class="editme" name="io"></textarea>
				</div>
				<div class="form-group">			
					Difficulty <input name="difficulty" class="form-control"></input>
				</div>
				<div class="form-group">			
					Topic <input name="topic" class="form-control"></input>
				</div>
				<div class="form-group">			
					Title <input name="title" class="form-control"></input>
				</div>	
				<div class="form-group">			
					Boundary Conditions <!--<a href="javascript:void(0);" NAME="Document Editor" title="Edit content of documents in new window" onClick=window.open("problem_editor.py?edit=ps3","Ratting","width=850,height=570,0,status=0,");><button type="button" class="btn btn-primary">Boundary</button></a>-->
					<textarea class="editme" name="boundary"></textarea>
				</div>
				<div class="form-group">
					Input Test Case 1 <textarea name="tc1" class="form-control"></textarea>
				</div>
					<div class="form-group">
					Input Test Case 2 <textarea name="tc2" class="form-control"></textarea>
				</div>
				<div class="form-group">
					Input Test Case 3 <textarea name="tc3" class="form-control"></textarea>
				</div>
				<div class="form-group">
					Input Test Case 4 <textarea name="tc4" class="form-control"></textarea>
				</div>
				<div class="form-group">
					Input Test Case 5 <textarea name="tc5" class="form-control"></textarea>
				</div>
				<div class="form-group">
					Output for Test Case 1 <textarea name="op1" class="form-control"></textarea>
				</div>
					<div class="form-group">
					Output for Test Case 2 <textarea name="op2" class="form-control"></textarea>
				</div>
				<div class="form-group">
					Output for Test Case 3 <textarea name="op3" class="form-control"></textarea>
				</div>
				<div class="form-group">
					Output for Test Case 4 <textarea name="op4" class="form-control"></textarea>
				</div>
				<div class="form-group">
					Output for Test Case 5 <textarea name="op5" class="form-control"></textarea>
				</div>
				<!--<div class="form-group">			
					Input Test Case 1 <a href="javascript:void(0);" NAME="Document Editor" title="Edit content of documents in new window" onClick=window.open("problem_editor.py?edit=tc1","Ratting","width=850,height=570,0,status=0,");><button type="button" class="btn btn-primary">Test Case 1</button></a>
				</div>
				<div class="form-group">			
					Input Test Case 2 <a href="javascript:void(0);" NAME="Document Editor" title="Edit content of documents in new window" onClick=window.open("problem_editor.py?edit=tc2","Ratting","width=850,height=570,0,status=0,");><button type="button" class="btn btn-primary">Test Case 2</button></a>
			</div>
				<div class="form-group">			
					Input Test Case 3 <a href="javascript:void(0);" NAME="Document Editor" title="Edit content of documents in new window" onClick=window.open("problem_editor.py?edit=tc3","Ratting","width=850,height=570,0,status=0,");><button type="button" class="btn btn-primary">Test Case 3</button></a>
				</div>
				<div class="form-group">			
					Input Test Case 4 <a href="javascript:void(0);" NAME="Document Editor" title="Edit content of documents in new window" onClick=window.open("problem_editor.py?edit=tc4","Ratting","width=850,height=570,0,status=0,");><button type="button" class="btn btn-primary">Test Case 4</button></a>
				</div>
				<div class="form-group">			
					Input Test Case 5 <a href="javascript:void(0);" NAME="Document Editor" title="Edit content of documents in new window" onClick=window.open("problem_editor.py?edit=tc5","Ratting","width=850,height=570,0,status=0,");><button type="button" class="btn btn-primary">Test Case 5</button></a>
				</div>
				<div class="form-group">			
					Output for Test Case 1 <a href="javascript:void(0);" NAME="Document Editor" title="Edit content of documents in new window" onClick=window.open("problem_editor.py?edit=op1","Ratting","width=850,height=570,0,status=0,");><button type="button" class="btn btn-primary">Output Case 1</button></a>
				</div>	
				<div class="form-group">			
					 Output for Test Case 2 <a href="javascript:void(0);" NAME="Document Editor" title="Edit content of documents in new window" onClick=window.open("problem_editor.py?edit=op2","Ratting","width=850,height=570,0,status=0,");><button type="button" class="btn btn-primary">Output Case 2</button></a>
				</div>
				<div class="form-group">			
					Output for Test Case 3  <a href="javascript:void(0);" NAME="Document Editor" title="Edit content of documents in new window" onClick=window.open("problem_editor.py?edit=op3","Ratting","width=850,height=570,0,status=0,");><button type="button" class="btn btn-primary">Output Case 3</button></a>
				</div>
				<div class="form-group">			
					Output for Test Case 4 <a href="javascript:void(0);" NAME="Document Editor" title="Edit content of documents in new window" onClick=window.open("problem_editor.py?edit=op4","Ratting","width=850,height=570,0,status=0,");><button type="button" class="btn btn-primary">Output Case 4</button></a>
				</div>
				<div class="form-group">			
					Output for Test Case 5 <a href="javascript:void(0);" NAME="Document Editor" title="Edit content of documents in new window" onClick=window.open("problem_editor.py?edit=op5","Ratting","width=850,height=570,0,status=0,");><button type="button" class="btn btn-primary">Output Case 5</button></a>
				</div>-->
				<div class="form-group">			
					<button type="submit" class="btn btn-primary">SUBMIT</button>
				</div>
			</form>
		</div>
	</div>

	 </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
{{ super() }}
{% endblock %}
