{% extends "/var/www/html/teacher/base.html" %}
	{% block title %}{{ title }} | NeoScript {%endblock%}
	{% block head %}
		{{ super() }}
		<meta http-equiv="Cache-Control" Content="no-cache, no-store, must-revalidate ,max-age=0,s-maxage=0, proxy revalidate">
		<meta http-equiv ="Pragma" Content="no-cache">
		<meta http-equiv ="Expires" Content="0">	
	{% endblock %}
	{% block content %}
		<!-- wrapper -->
		<div id="wrapper">
			<!--navbar-->
			<p id="header"></p>
			<!--navbar end-->
			<!--page wrapper-->
			<div id="page-wrapper">
				<div class="row">
                	<div class="col-lg-12">
                	    <h1 class="page-header">Report</h1>
                	</div>
                	<!-- /.col-lg-12 -->
            	</div>
			{{content}}
			</div>
			<!-- modal-->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
	<div id="description"></div>        

    </div>
  </div>
</div>
		<!--./modal-->
			<!--end page-wrapper -->
			
		</div>
		<!-- end wrapper -->
		{{ super() }}

    	<script>
	
	$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var aid = button.data('aid')
  var pid = button.data('pid') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  $.ajax({
					type: 'POST',
					url: "../ajax/show_report.py",
					data:( {pid:pid,aid:aid} ),
					dataType: "text",
					success: function(response){
						output = response;
						$("#description").html(output);
						}
					}).done(function(data){
						console.log(data);
						
				});

  //var modal = $(this)
  //modal.find('.modal-title').text('New message to ' + recipient)
  //modal.find('.modal-body input').val(recipient)
})

</script>
	{% endblock %}	
