{% extends "/var/www/html/teacher/base.html" %}
	{% block title %}{{ title }} | NeoScript {%endblock%}
	{% block head %}
		{{ super() }}
		<meta http-equiv="Cache-Control" Content="no-cache, no-store, must-revalidate ,max-age=0,s-maxage=0, proxy revalidate">
		<meta http-equiv ="Pragma" Content="no-cache">
		<meta http-equiv ="Expires" Content="0">	
	{% endblock %}
	{% block content %}
		<!-- wrapper -->
		<div id="wrapper">
			<!--navbar-->
			<p id="header"></p>
			<!--navbar end-->
			<!--page wrapper-->
			<div id="page-wrapper">
				<div class="row">
                	<div class="col-md-4">
                	    <select id="assignment_select" class="form-control input-sm">
							<option value="-1">assignment</option>
								{% for row in assignment %}
							<option value="{{ row[0] }}">{{ row[1] }}</option>
								{% endfor %}
						</select>
                	</div>
                	<div class="col-md-4">
                	    <a class="btn btn-primary" data-toggle="collapse" href="#questionlist" aria-expanded="false" aria-controls="questions" >Show Questions</a>
                	</div>
                	<div class="col-md-4">
                	    
                	</div>
                	<!-- /.col-lg-12 -->
            	</div>
            	<hr/>
            	<div class="collapse" id="questionlist">
            		
            	</div>
            	<div id="list"></div>
			</div>
			<!--end page-wrapper -->
			
		</div>
		<!-- end wrapper -->
		{{ super() }}
    	<script>
    		$("#assignment_select").change(function(e){
					//alert($("#assignment_select").val());
					$.ajax({
					type: 'POST',
					url: "ajax/problem_mcq_list.py?aid="+$("#assignment_select").val(),
					dataType: "text",
					success: function(response){
							$("#questionlist").html(response)
							$.ajax({
								type: 'POST',
								url: "ajax/submission_mcq_list.py?aid="+$("#assignment_select").val(),
								dataType: "text",
								success: function(response){
									$("#list").html(response)
								}
							}).done(function(data){
							console.log(data);
							});
						}
					}).done(function(data){
						console.log(data);
						
				});
			});
    	</script>
	
{% endblock %}		
