{% extends "/var/www/html/teacher/base.html" %}
	{% block title %}{{ title }} | NeoScript {%endblock%}
	{% block head %}
		{{ super() }}
		<meta http-equiv="Cache-Control" Content="no-cache, no-store, must-revalidate ,max-age=0,s-maxage=0, proxy revalidate">
		<meta http-equiv ="Pragma" Content="no-cache">
		<meta http-equiv ="Expires" Content="0">	
	{% endblock %}
	{% block content %}
		<!-- wrapper -->
		<div id="wrapper">
			<!--navbar-->
			<p id="header"></p>
			<!--navbar end-->
			<!--page wrapper-->
			<div id="page-wrapper">
				<div class="row">
                	<div class="col-lg-12">
                	    <h1 class="page-header">Timeline</h1>
                	</div>
                	<!-- /.col-lg-12 -->
            	</div>
			{{content}}
			<hr/>
			<a href="javascript:void(0);" NAME="Timeline Editor" title="Edit content of timeline in new window" onClick=window.open("../content_editor.py?edit=timeline&cid={{cid}}","Ratting","width=850,height=570,0,status=0,");><button type="button" class="btn btn-primary">Edit Timeline</button></a> 
			</div>

			<!--end page-wrapper -->
		</div>
		<!-- end wrapper -->
			{{ super() }}
{% endblock %}
