{% extends "/var/www/html/base.html" %}
	{% block title %}Course List | NeoScript{%endblock%}
	{% block head %}
		{{ super() }}
		<meta name="Description" content="Courses">
	{% endblock %}
	
	{% if name %}
	   	{% include '/var/www/html/header_user.html' %}
	{% else %}
	    {% include '/var/www/html/header_guest.html' %}
	{% endif %}

	{% block content %}
  
		<div class='course_page'>	
			<div class="container">
				<ul class="nav nav-tabs" role="tablist">
    
				    <li role="presentation"><a href="#acourse" aria-controls="profile" role="tab" data-toggle="tab">All Courses</a></li>
    			</ul>
			</div>
			<div class="tab-content" id="content">
				<div class="tab-pane fade in active" id="course_page">
					<div class="container">
						<br/>
						{% for row in all_courses %}
		 				<div class="row">
    	       				<div class="col-md-5">
            	   				<a href="course_intro.py?cid={{ row[0]}}&page=index1.py#acourse">
                	    			<img class="img-responsive img-hover" src="course/{{row[0]}}/course.jpeg" width="400" height="230" alt="">
               	 				</a>
            				</div>
            				<div class="col-md-7">
                				<h3> {{row[1]}} </h3>
            		
                				<p></p>
                				<a class="btn btn-primary" href="course_intro.py?cid={{row[0]}}&page=index1.py#acourse">Go to Course</i></a>
            				</div>
        				</div>
        				<!-- /.row -->
        				<hr>
						{% endfor %}
					</div>
				</div>
			</div>	
			<hr/>
			<div class="container-fluid">
				<center><p><span >&copy; 2015 NeoScript.in </span></p></center>
			</div>
		</div>
   
		
		{{ super() }}
			
 {% endblock %}
