<!DOCTYPE html>
<html lang="en">
	<head>
	  	{% block head %}
		<title>{% block title %}{%endblock%}</title>
		<meta charset="utf-8">
		<meta http-equiv="Cache-Control" Content="no-cache, no-store, must-revalidate ,max-age=0,s-maxage=0, proxy revalidate">
		<meta http-equiv ="Pragma" Content="no-cache">
		<meta http-equiv ="Expires" Content="0">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link href="/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	    <link href="/css/bootstrap.min.css" rel="stylesheet">
	    <link rel="icon" href="http://www.neoscript.in/favicon.ico">
	    <style type="text/css" media="screen">
			#code_editor{
				min-height:500px;
			}
		</style>
	    {% endblock %}
	</head>
	<body>
		{% include "/var/www/html/header_user.html" %}
		{% block content %}
		<!-- Optional: Include the jQuery library -->
		<script src="http://www.neoscript.in/js/jquery.js"></script>
		<!-- Optional: Incorporate the Bootstrap JavaScript plugins -->
		<script src="http://www.neoscript.in/js/bootstrap.min.js"></script>
		{% endblock %}
		{% block coding %}
		
			<div class="alert alert-danger" role="alert" id="alert">
  						<strong>Error occured while processing. please try again.</strong>
			</div>
			<input type="hidden" name="filename" id="filename" value=""/>
			<!--<div  style="position: fixed;    width: 100%;    height: 100%;    left: 0;    top: 0;    background:#eee;    z-index: 10;">-->
			<pre id="code_editor"></pre>
			<div class="well">
				<div class="row">
					<div class="col-sm-2">
						<div class="form-group has-success has-feedback">
							<select id="language_save" class="form-control input-sm">
								<option value="java">Java</option>
								<option value="c">C</option>
							</select>
						</div>	
					</div>
					<div id = "java_c" class="col-sm-3">
						<div class="form-group has-success has-feedback">
							<div class="input-group">
								<input type="text" class="form-control" id="java_class" placeholder="Java main() class name">
								<span class="input-group-addon"><a id="popover"  rel="popover" data-content="">?</a></span>
							</div>		
						</div>	
					</div>
					<!--<div class="col-sm-2">
						<button id="save" type="button" class="btn btn-success btn-block">save</button>
					</div>
					<div class="col-sm-2">
						<button id="compile" type="button" class="btn btn-success btn-block">compile</button>
					</div>
					
					<div class="col-sm-2">
						<button id="submit_b" type="button" class="btn btn-success btn-block">submit</button>
					</div>-->
					<div class="btn-group" role="group" aria-label="controls">
						
						<button id="save" type="button" class="btn btn-success glyphicon glyphicon-floppy-disk " data-toggle="tooltip" data-placement="top" title="Save"></button>
						<button id="compile" type="button" class="btn btn-success glyphicon glyphicon-cog" data-toggle="tooltip" data-placement="top" title="Compile"></button>
						<button id="submit_b" type="button" class="btn btn-success glyphicon glyphicon-floppy-open" data-toggle="tooltip" data-placement="top" title="Submit"></button>
					</div>
				</div>					
			</div>
			<!--</div>-->
			<!--Input/output window-->
			<div class="row">
				<div class="col-md-5">
					<textarea class="form-control" name="cinput" id="cinput" rows="3" placeholder="Custom Input"></textarea>
					<br/>
					<button id="run" type="button" class="btn btn-success btn-block">Run</button>
				</div>
				<div class="col-md-7">
					<center><p id="loading"><img src="loading_bar.gif" width="150" height="25"/></p></center>
					<div class="panel panel-default" id="testcase">
 				 		<!-- Default panel contents -->
  				
					</div>
				</div>
			</div>
			<!--End of Input/Output Window-->
			<script src="http://www.neoscript.in/ace-builds-master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
			<script>
			var editor = ace.edit("code_editor");
			$( document ).ready(function() {
					$("#loading").hide();
					$("#testcase").hide();
					$("#result").hide();
					$("#alert").hide();
					//$("#code_editor").hide();	
					editor.setTheme("ace/theme/chrome");
					editor.getSession().setMode("ace/mode/java");
					$.ajax({
 						url: 'ajax/saved_file.py', 
 						type: 'POST',
 						data:{aid: {{aid}}, pid : {{pid}}, ppid: {{ppid}},eid: {{eid}}, operation: 'code' },
 						success: function(response)
 						{
 							
 							if(response.toString().trim() != "no file")
 							{
 								editor.getSession().setValue(response);
								window.scrollTo(0, 600);
							}	
 						},
 						error: function(response)
 						{
 							alert('error while loading code..');
 						}
 					});
 					$.ajax({
 						url: 'ajax/saved_file.py', 
 						type: 'POST',
 						data:{aid: {{aid}}, pid : {{pid}}, ppid: {{ppid}},eid: {{eid}}, operation: 'file' },
 						success: function(response)
 						{
 							document.getElementById('filename').value = response.trim();
 						},
 						error: function(response)
 						{
 							alert('error while loading code..');
 						}
 					});		
 					
 						var image = '<img class="img-responsive" src="main_c.png"">';
						$('#popover').popover({placement: 'bottom', content: image, html: true});
			});
			$("#language_save").change(function(e)
			{
				if($("#language_save").val()=="java")
				{
					$("#java_c").show();
					document.getElementById('filename').value = '';
				}
				else
				{
					$("#java_c").hide();
					document.getElementById('filename').value='';
				}
			});
			</script>
			<script>
			
 			function code_submit(t)
 			{
				var f = document.getElementById("filename").value;
 				var c = editor.getSession().getValue();
 				var jf = document.getElementById("java_class").value;
 				var input = document.getElementById("cinput").value;
				//alert(code);
 				$("#loading").show();	
 				$.ajax({
 					url: 'ajax/submission_save.py?pid='+{{pid}}+'&aid='+{{aid}}+'&l='+$("#language_save").val(), 
 					type: 'POST',
 					data:{content: c, action: t, filename: f, jfile: jf, cinput: input, ppid: {{ppid}}, eid:{{eid}} },
 					success: function(response)
 					{
 						
 						$("#testcase").html(response);
 						$("#loading").hide();
						$("#testcase").show();
 					},
 					error: function(response)
 					{
 						alert('error while saving.');
 					}
 				});		
 			}
 			
 			$("#save").click(function(e) {
 				if(editor.getSession().getValue()=="")
 				{
 					alert('first write code');
 					document.getElementById('code_editor').focus()
 				}
 				else if($("#language_save").val()=="java" && $("#java_class").val() == "" )
				{
						alert("fill java main method class name");
						$("#java_class").focus();
				}
				else	
 					code_submit("save");
 			});
 			
 			$("#compile").click(function(e) {
 				if(editor.getSession().getValue()=="")
 				{
 					alert('first write code');
 					document.getElementById('code_editor').focus()
 				}
 				else if($("#language_save").val()=="java" && $("#java_class").val() == "" )
				{
						alert("fill java main method class name");
						$("#java_class").focus();
				}
 				else	
 					code_submit("compile");
 			});
 			
 			$("#run").click(function(e) {
 				
 				if(editor.getSession().getValue()=="")
 				{
 					alert('first write code');
 					document.getElementById('code_editor').focus()
 				}	
 				else if(document.getElementById('cinput').value=="")
 				{
 					alert('give custom inputs.');
 					document.getElementById('cinput').focus()
 				}
 				else if($("#language_save").val()=="java" && $("#java_class").val() == "" )
				{
					alert("fill java main method class name");
					$("#java_class").focus();
				}
 				else	
 					code_submit("custom_execute");
 						
 				//
 			});
 			
 			$("#submit_b").click(function(e){
 				if($("#language_save").val()=="java" && $("#java_class").val() == "" )
				{
					alert("fill java main method class name");
					$("#java_class").focus();
				}
				else
 					code_submit("test_case");
 			});
 			
 			</script>
 			<script>
 				
 				$(function () { $('.tooltip-show').tooltip('show');});
      			$(function () { $('.tooltip-hide').tooltip('hide');});
      			$(function () { $('.tooltip-destroy').tooltip('destroy');});
      			$(function () { $('.tooltip-toggle').tooltip('toggle');});
      			$(function () { $(".tooltip-options a").tooltip({html : true });
      			});
 			</script>
		{% endblock %}
		{% include "/var/www/html/footer.html" %}
		<script type="text/javascript"> $("[data-toggle=\"tooltip\"]").tooltip(); </script>
	</body>
</html>		   
    	
