<!DOCTYPE html>
<html lang="en">
	<head>
		{%block head %}
		<title>{% block title %}{%endblock%}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="Description" content="Vision">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="favicon.ico">
		<link rel="stylesheet" href="http://www.neoscript.in/css/bootstrap.min.css">
		<link href="http://www.neoscript.in/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link rel="icon" href="http://www.neoscript.in/favicon.ico">
		<script src="http://www.neoscript.in/js/jquery.js"></script>
		{% endblock %}
	</head>
	<body>
		<div>
			
			
			{% block content %}
				<!-- Optional: Incorporate the Bootstrap JavaScript plugins -->
				<script src="http://www.neoscript.in/js/bootstrap.min.js"></script>
				<meta content="width=device-width,initial-scale=1.0,user-scalable=0" name="viewport">
			{% endblock %}
		</div>	
	</body>
</html>
