{% extends "/var/www/html/base.html" %}
	{% block title %}Course Info | NeoScript{%endblock%}
	{% block head %}
		{{ super() }}
		<meta name="Description" content="Course Information">
	{% endblock %}
	
	{% if name %}
	   	{% include '/var/www/html/header_user.html' %}
	{% else %}
	    {% include '/var/www/html/header_guest.html' %}
	{% endif %}

	{% block content %}
		<div class="container">
			<ol class="breadcrumb">
				<li><a href="{{ prev_page }}">All Courses</a></li>
				<li class="active">{{ title }}</li>
			</ol>
			<div class="panel panel-default">
				<div class="panel-body">
					<div class=row>
						<div class="col-sm-8">
							<h1>{{ title }}</h1>
						</div>
						<div class="col-sm-4">
							<img class="img-responsive img-hover" src="course/{{ course_id }}/course.jpeg" alt="course image"/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class ="col-sm-8">
					
					<p>
						{{  description }}
					</p>
					<h3 class="page-header">Syllabus</h3>
					<p>
								{{ syllabus }}
					</p>
				<!--	<h3 class="page-header">Prerequisties</h3>
					<p>
								{{ prerequisties }}
					</p>
					<h3 class="page-header">FAQ</h3>
					<p>
							{{ faq }}
					</p>-->
				</div>	
				<div class="col-sm-4">
				
						  <a><button id="enroll" type="button" class="btn btn-primary btn-lg btn-block">Enroll</button></a>
						  <br/>
						  {% for row in tdetails %}
						  <p>{{row[0]}}</p>
						  <p>{{row[2]}}</p>
						  <p>{{row[1]}}</p>
						  {% endfor %}
				
				</div>	
			</div>
			<!--row-->
		</div>
		<!--container-->
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  			<div class="modal-dialog">
    			<div class="modal-content">
      				<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        					<h4 class="modal-title" id="myModalLabel">Login</h4>
      				</div>
      				<div class="modal-body">
       				 	<h5>Please first login to enroll this course.</h5>
      				</div>
    			</div>
  			</div>
		</div>
			<hr/>
<footer>	<div class="container-fluid">
		<center><p><span >&copy; 2015 NeoScript.in </span></p></center>
	</div>
</footer>
		{{ super() }}
		<script src="http://www.neoscript.in/js/cookie-js/jquery.cookie.js"></script>
		<script>
			$( document ).ready(function() {
				//$("#enroll").removeAttr('disabled');
				if($.cookie("uid"))
				{
					$.ajax({
						type: "POST",
						url: "ajax/enroll.py",
						data: ({course_id: {{ course_id }}, enroll : "false"}), // serializes the form's elements.
						success: function(response)
						{
							output = parseInt(response);	
							if(output == 1)
							{
								//alert(response);
								$("#enroll").attr('disabled','disabled');
								$("#enroll").html("Enrolled")
							}
							else if(output == 2)
							{
								//alert(response);
								$("#enroll").attr('disabled','disabled');
								$("#enroll").html("Approval Pending")
							}
							else
							{
								$("#enroll").removeAttr('disabled');
							}
							
						}
					});			
				}	
			});
			$("#enroll").click(function(e){
				if($.cookie("uid"))
				{
					//alert('cookie is set')
					
					$.ajax({
						type: "POST",
						url: "ajax/enroll.py",
						data: ({course_id: {{ course_id }}, enroll : "true"}), // serializes the form's elements.
						success: function(response)
						{
							$("#enroll").html("Approval Pending")
							$("#enroll").attr('disabled','disabled');
						},
						error: function(response){
							
							$("#enroll").html("Enroll")
						}
					});	
				}
				else
				{
					//alert('cookie not set');
					$("#myModal").modal('show')
				}
				
			});
	</script>
	{% endblock %}
