{% extends "/var/www/html/base.html" %}
	{% block title %}FAQ | NeoScript{%endblock%}
	{% block head %}
		{{ super() }}
	    <meta http-equiv="Cache-Control" Content="no-cache, no-store, must-revalidate ,max-age=0,s-maxage=0, proxy revalidate">
		<meta http-equiv ="Pragma" Content="no-cache">
		<meta http-equiv ="Expires" Content="0">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
   		<meta name="Description" content="Frequently Asked Questions">
	{% endblock %}
	{% if name %}
	   	{% include '/var/www/html/header_user.html' %}
	{% else %}
	    {% include '/var/www/html/header_guest.html' %}
	{% endif %}	
 	{% block content %}
		<div class="container">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  				<div class="panel panel-default">
    				<div class="panel-heading" role="tab" id="headingOne">
      					<h4 class="panel-title">
        					<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						          Que 1 :: What kind of environment is Provided here at NeoScript, how is it different from running programs on terminal?
        					</a>
      					</h4>
    				</div>
    				<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      					<div class="panel-body">
       No it is not different from executing on terminal. But just make sure your program don't print unwanted statements like "Enter a string" or "output of this program is" etc. Just follow the Input Output Specification given that is enough.    
				      </div>
			    </div>
		  </div>
  		<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Que 2 :: Is it true that the portal will check if i have copied my assignment from someone in my batch? 
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Well yes the teacher will be notified for any copying. Hence we recommend you to try problems on your on and if you are finding it difficult to solve the problem go through the tutorials given by the Course Teacher. Still if you face problems try simple problems from the practise section first then move to assignments. 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Que 3 :: I tried editing the program through the editor provided in the submission page it is not working?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Yes it is true, we are sorry as that option is not yet made available. you need to solve the problem on your system first then upload it.
      </div>
    </div>
  </div>
	<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
          Que 4 :: Is there any restrictions on the number of times we can do submission for coding problems?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
       No you are free to make any number of submissions for coding problems, provided the date of assignment has not yet passed.
      </div>
    </div>
  </div>
</div>
	</div>
	<footer>{{ footer }}</footer>
    {{ super() }}
	
{% endblock %}
