{% extends "/var/www/html/base_user.html" %}
	{% block title %}Home | NeoScript{%endblock%}
	{% block head %}
		{{ super() }}
		<script type="text/javascript" src="http://www.neoscript.in/flot/jquery.flot.min.js"></script>
    <meta name="Description" content="HomePage">
    {% endblock %}
  
  	{% block content %}
	<br/>

	<div class='course_page'>	
		<div class="container">
			<ul class="nav nav-pills nav-justified" role="tablist">
			<li role="presentation" class="active"><a href="#dashboard" aria-controls="home" role="tab" data-toggle="tab">Dashboard</a></li>
			    <li role="presentation"><a href="#course_page" aria-controls="home" role="tab" data-toggle="tab">Enrolled Courses</a></li>
			    <li role="presentation" ><a href="#acourse" aria-controls="acourse" role="tab" data-toggle="tab">Available Courses</a></li>
			    <li role="presentation"><a href="#p_problem" aria-controls="practice" role="tab" data-toggle="tab">Practise Problems</a></li>
			</ul>
		</div>
		<hr/>
		<br/>
		<div class="tab-content" id="content">
		<div class="tab-pane fade in active" id="dashboard">
		<div class="container">
			<div class="alert alert-info" role="alert">Welcome, {{name}}</div>
			
				<div id="pl" style="height:350px;margin:5%">       
        			<div id="flot-placeholder" style="width:60%;height:100%;"></div>
        			<br>
        			<p>Performance Graph Based on problems solved in chronological order</p>
        			<!--<div id="sub" class="span4" class="panel panel-default">
 					 Graph
 					 <!--<div class="panel-heading">Recent Activity</div>
  						
  					<table class="table">
  					  ...
 					 </table>
				</div>       -->
    			</div>

		</div>	
	</div>
			<div class="tab-pane fade" id="course_page">
				<div class="container">
				<br/>
				{% for row in enrolled %}
			 		<div class="row">
    		        	<div class="col-sm-5">
        	        		<a href="course.py?cid={{ row[1]}}">
        	        	    	<img class="img-responsive img-hover" src="course/{{row[1]}}/course.jpeg" width="400" height="230" alt="">
        	       	 		</a>
        	    		</div>
        	    		<div class="col-sm-7">
        	        		<h3> {{row[2]}} </h3>
        	        	<!--	<h4>January-April 2015</h4>-->
        	        		<p>{{row[3]}}</p>
        	        		<a class="btn btn-primary" href="course.py?cid={{row[1]}}">Go to Class</i></a>
        	    		</div>
        			</div>
        			<!-- /.row -->
        			<hr>
				{% endfor %}
				</div>
			</div>
			<div class="tab-pane fade" id="acourse">
				<div class="container">
				<br/>
				{% for row in all_courses %}
		 			<div class="row">
    	        		<div class="col-sm-5">
            	    		<a href="course_intro.py?cid={{ row[0]}}&page=index1.py#acourse">
            	    	    	<img class="img-responsive img-hover" src="course/{{row[0]}}/course.jpeg" width="400" height="230" alt="">
               	 			</a>
            			</div>
            			<div class="col-sm-7">
                			<h3> {{row[1]}} </h3>
                			
                			<p>{{row[3]}}</p>
                			<p>{{row[4]}}</p>
                			<a class="btn btn-primary" href="course_intro.py?cid={{row[0]}}&page=index1.py#acourse">Go to Course</i></a>
            			</div>
        			</div>
        			<!-- /.row -->
        			<hr>
				{% endfor %}
				</div>
			</div>
			<br/>
			<!-- Code for practise page -->
			<div class="tab-pane fade" id="p_problem">
				<div class="container">
					<div class="row">
						<div class = "col-sm-7">
							<h4>Unattempted Problems</h4>
							<a href="#" class="list-group-item active"><span class="badge">Level</span>Problem Title</a>
							{% for row in p_problem %}
  								<a href="problem_code.py?ppid={{row[0]}}" class="list-group-item"><span class="badge">{{row[2]}}</span>{{row[1]}}</a>
							{% endfor %}
						</div>	
						<div class="col-sm-5"> 
							<h4>Attempted Problems</h4>
							<a href="#" class="list-group-item active"><span class="badge">Score</span>Problem Title</a>
							{% for row in s_problem %}
				  			<a href="problem_code.py?ppid={{row[0]}}" class="list-group-item"><span class="badge">{{row[2]}}</span>{{row[1]}}</a>
							{% endfor %}
						</div>	
					</div>
				</div>	
			</div>
		</div>
	</div>	
		{{ super() }}
	<script>

			window.onbeforeload = function(e){
				alert("");
			}
			
	
		$(document).ready(function(event) {
    	$('ul.nav.nav-tabs a:first').tab('show'); // Select first tab
    	$('ul.nav.nav-tabs a[href="'+ window.location.hash+ '"]').tab('show'); // Select tab by name if provided in location hash
    	$('ul.nav.nav-tabs a[data-toggle="tab"]').on('shown', function (event) {    // Update the location hash to current tab
    	    window.location.hash= event.target.hash;
   		 })
	});
	</script>
    	<script>
    	$.ajax({
							type: "POST",
							url: "p.py",
							success: function(response)
							{
								$("#flot-placeholder").html(response);
								
							},
							error: function(response){
								//alert(response);
						}
						});
    </script>	
  {% endblock %}
