{% extends "/var/www/html/base_user.html" %}
	{% block title %}{{title}} | NeoScript{%endblock%}
	{% block head %}
		{{ super() }}
	{% endblock %}
	
	{% block content %}
	
	{{ super() }}
	<div class='container'>	
  			<div class="alert alert-success" role="alert"><h3>Welcome to the Major Exam </h3>
  			</div>
  			{% for row in problem %}
  			{{row[1]}}
  			<a type="button" href="problem_code.py?pid={{row[0]}}&eid={{eid}}" class="btn btn-default">Attempt Problem</a>
  			<br><br>	
  			{% endfor %}
		
	</div>	
	<script>
		var ajax_call = function() {
 	 		$.ajax({
 	 			url:'ajax/exam_session.py?eid={{eid}}',
 	 			success:function(response)
 	 			{
 	 				if(parseInt(response) != 1)
 	 					window.location.assign("timeout.html");
 	 			}
 	 		});
		};
		var interval = 1000 * 30 * 1; 
		setInterval(ajax_call, interval);
	</script>	
	 {% endblock %}
