{% extends "/var/www/html/base_code.html" %}
	{% block title %}{{title}}| NeoScript{%endblock%}
	{% block head %}
		{{ super() }}
		<meta name="Description" content="{{title}}">
	{% endblock %}
  
  	{% block content %}
    <div class="container">
    	<ol class="breadcrumb">
				<li><a href="course.py?cid={{ cid }}#assignment">Assignment</a></li>
				<li class="active">{{ title }}</li>
		</ol>
		<div class="container-fluid">
			<h2>{{ title }}</h2>
			<div class="panel panel-default">
				<div class="panel-body">
					<p>{{ description }}</p>
				</div>
			</div>
			<!--<form enctype="multipart/form-data" action="submission_code.py" method="post" id="submitform">
			<div class="panel panel-default">
				<div class="panel-heading">Solution</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-3">
							<label class="btn btn-default" for="file">
								<input type="file" name="file" id="file" />
							</label>	
						</div>
						<div class="col-sm-2">	
							<select name="language" id="language" class="form-control input-sm">
								<option value="java">Java</option>
								<option value="c">C</option>
							</select>	
						</div>
						<div class="col-sm-2">	
							<input type="submit" name="submit" value="Submit"class="btn btn-success btn-block"/>
						</div>	
				</div>
			</div>
			</form>-->
			
			
		
				
		</div>
		<!-- container -->
		{{ super() }}
		
	 {% endblock %}
	 {% block coding %}
			{{super()}}
			<script>
 			
 			
			// Catch the form submit and upload the files
			$("#submitform").submit(function(e) {
				
				$("#loading").show();
				e.preventDefault();
				var form_data = new FormData($("#submitform")[0]);
				//alert($("#submitform")[1])
 				$.ajax({
					url: 'ajax/submission_code.py?pid='+{{pid}}+'&aid='+{{aid}}+'&l='+$("#language").val(),
					type: 'POST',
					data: form_data,
        			contentType: false,
        			cache: false,
        			processData: false,
        			async: false,
					success: function(response)
					{
						
						$("#loading").hide();
						$("#testcase").html(response);
						$("#testcase").show();
						$.ajax({
							url: 'ajax/code_editor.py?pid='+{{pid}}+'&aid='+{{aid}}+'&file='+$("#file").val(),
							type:'GET',
							success:function(response){
								document.getElementById('filename').value = document.getElementById('file').value
								$("#code_editor").show();
								editor.getSession().setValue(response);
								 window.scrollTo(0, 1300);
								 
							},
							error:function(response){
								
							}
						});
						 console.log('Success!');
					},
					error:function(response){
						$("#alert").show();						
					},
					
				});
				$("#loading").hide();
					return false;
			}); 
			
		</script>
		{% endblock %}
