{% extends "/var/www/html/base_user.html" %}
	{% block title %}{{title}} | NeoScript{%endblock%}
	{% block head %}
		{{ super() }}
		<meta name="Description" content="{{title}}">
    {% endblock %}
  
  	{% block content %}	
		<div class="container">
			<div class="page-header">
  				<h1>Courses <small></small></h1>
  				{% for row in courses %}
		 		<div class="row">
    	        	<div class="col-md-5">
                		<a href="teacher/home.py?cid={{row[0]}}">
                	    	<img class="img-responsive img-hover" src="course/{{row[0]}}/course.jpeg" width="400" height="230" alt="">
               	 		</a>
            		</div>
            		<div class="col-md-7">
                		<h3>{{ row[1] }}</h3>
                		<h4></h4>
                		<p></p>
                		<a class="btn btn-primary" href="teacher/home.py?cid={{row[0]}}">Go to Class</i></a>
            		</div>
        		</div>
        		<!-- /.row -->
        		
			{% endfor %}
			</div>
		</div>
	{{ super() }}
 {% endblock %}		
